body
{
font-family:sans-serif;
background-color:#f1f2f6; 
}

header
{
background-color:#0865fe;
height:75px;	
}

h1
{
color:white;
float:left;
margin-left:100px;
margin-top:35px;	
} 

.bgc
{
background-color:yellow;	
}

table
{
float:right;
margin-right:100px;		
}

td
{
color:white;	
}

th
{
color:white;	
}

a
{
color:white;
text-decoration:none;	
}

.left
{
display:block;	
height:500px;
width:700px:		
}

.right
{
display:block;	
height:500px;
width:700px:			
}

h2
{
margin-left:100px;
margin-top:45px;
}

p
{
margin-left:200px;
margin-top:33px;
}

.style
{
text-decoration:none;
color:blue;
}

.size
{
font-size:40px;	
color:black;
}

.color
{
color:black;
font-size:25px;	
margin-top:15px;
}

.black
{
font-size:11px;
color:black;
margin-top:15px;	
}

.blackk
{
color:black;	
}

.test
{
	margin-top:-530px;
}

.submission
{
padding:8px 60px 8px 60px;
border-radius:5px;
background-color:green;
font-size:22px;
color:white;
margin-top:15px;	
}

.inputfield
{
padding: 8px 185px 8px 185px;
margin-top:15px;
}

.margin
{	
margin-top:15px;	
}

.inputfieldd
{
padding: 8px 50px 8px 50px;
margin-top:15px;
}